// Primary Colors
$primary-cyan-400: hsl(185, 75%, 39%);
$primary-blue-900: hsl(229, 23%, 23%);
$primary-gray-blue: hsl(227, 10%, 46%);

// Neutral Colors
$dark-gray: hsl(0, 0%, 59%);

// Root (HTML Tag) Font Size
$root-font-size: 18px;